  <!-- BOTTOM NAV para mobile -->
  <nav class="bottom-nav d-lg-none">
    <a href="/" class="bottom-nav-item">
      <img src="/img/icon-home.svg" alt="Home" width="22" height="22" class="icon-white"><span>Inicio</span>
    </a>
    <a href="/catalogo" class="bottom-nav-item">
      <img src="/img/icon-search.svg" alt="Buscar" width="22" height="22" class="icon-white"><span>Buscar</span>
    </a>
    <a href="/favoritos" class="bottom-nav-item">
      <img src="/img/icon-heart.svg" alt="Favoritos" width="22" height="22" class="icon-white"><span>Favoritos</span>
    </a>
    <a href="/perfil" class="bottom-nav-item">
      <img src="/img/icon-user.svg" alt="Perfil" width="22" height="22" class="icon-white"><span>Perfil</span>
    </a>
  </nav>
  <style>
    .bottom-nav .icon-white {
      filter: brightness(0) invert(1);
    }
  </style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>